.contenedor-noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px ;
    margin: 0px 15px 50px -15px;
    width: 100%;

}

.img {
    margin: 0;
    padding: 0;
     width: 100%;
}

.info-noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-noticia h1{
    font-size: 45px;
    font-weight: bold;
}
.info-noticia h2{
    font-size: 38px;
    font-weight: bold;
    color: black;
}
.info-noticia p{
    font-size: 25px;
    color: var(--Plata);
}
.color-title {
    color: #FF8126;
}
a{
    color: var(--DetailsColor2);
}

.titulo{
    margin: 55px 0px 0px 0px;
    font-size: 55px;
    margin-left: 70px;
    color: gold;
    font-family:'Alumni Sans', sans-serif;
    /* border-top: 3px solid black; Se reemplaza por hr*/
}

@media screen and (max-width: 768px) {

    .contenedor-noticia{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .info-noticia{
        margin-top: 20px;
    }
    .titulo{
        text-align: center;
    }
}
/* Lo pisa la clase .hr de otro componente */
/* .hr {
    border-width: 3px 0px 0px 0px;
    border-top-color: black;
}   */