.container-juegos{
    padding-top: 85px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-row-gap: 20px ;
    grid-column-gap: 75px ;
    justify-items: center;
    justify-content: center;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    
}

img{
    max-width: 100%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    padding-top: 10px;
    padding-left: 24px;
}
.card-info{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}
.card-text{
    color: var(--Plata);
}
.card-info{
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
}


 button{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: var(--DetailsColor2);
    font-size: 18px;
 }

 button:hover{
     opacity: 0.7;
     transition: 0.2s;
 }
 .btn-id{
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 5px;
    background-color: var(--DetailsColor2);
    font-size: 15px;
 }

 @media screen and (max-width: 768px) {
    .container-juegos{
        grid-template-columns: 1fr 1fr ;
        margin:0;
    }



 }

 @media screen and (max-width:525px) {
    .container-juegos{
        grid-template-columns: 1fr ;
    }
 }