@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,500&family=Fira+Code:wght@300&family=Montserrat:wght@500&family=Staatliches&display=swap');

.portada{
   min-height: 530px;
   background: url('/src/assets/img/portada.jpg');
   background-position: center center;
   background-size: cover;
}

.texto-portada{
    font-family:'Alumni Sans', sans-serif;
    color: azure;
    text-align: center;
    padding-top: 10px;
}

.texto-portada h3{
    font-size: 80px;
}
.texto-portada p{
    padding-top: 380px;
    font-size: 45px;
}

@media screen and (max-width: 768px) {
    
    .portada{
        padding-top: 25px;
        width: 365px
    }
    
    .texto-portada h3{
        font-size: 30px;
    }
    .texto-portada p{
        font-size: 20px;
        
    }
 }

@media screen and (max-width: 425px) {

    .texto-portada h3{
        font-size: 40px;

    }
    .texto-portada p{
        font-size: 25px;
    }

}

