.menu-items{
    display: flex;
    list-style: none;
    font-family:'Alumni Sans', sans-serif;
    font-size: 20px;
    margin-left: 40px;
}
.menu-items li{
    padding: 20px;

}
.menu-items a{
    text-decoration: none;
    letter-spacing: 1px;
    color: black
}