@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,500&family=Fira+Code:wght@300&family=Montserrat:wght@500&family=Staatliches&display=swap');


/* Carousel Descuentos*/
.title{
    font-family:'Alumni Sans', sans-serif;
    margin-left: 55px;
    color: gold;
    /* border-top: 3px solid black;  Se cambia por hr */
}

.carousel{
    height: 400px;
    display: flex;
    background-color: var(--ContainerGrayColor);
    align-items: center;
    justify-content: space-around;
    margin: 0px 55px 55px 55px;
    padding: 0px;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
}

.arrows{
    height: 400px;
    width: 50px;
    border: 5px solid var(--blue);
    background-color: var(--dark);
    color: var(--blue);
    border-radius: 5px;
}

.slide-active{
    position: relative;
    
    /* width: 1250px; */
    padding: 0px;
}

.slide{
    display: none;
    
}

.slideStyles{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    justify-content: space-between;
    padding: 0px;
}

.slideStylesOff{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;

    padding: 0px;
}

.slideInfo{
    color: white;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    margin: 0px 5px 0px 5px;

    
}

.infoTitle{
    margin: 25px;
    margin-bottom: 40px;
    font-family:'Alumni Sans', sans-serif;
    padding: 0px;
}

.infoDesc{
    height: 100px;
    margin-bottom: 120px;
}

.offLabel{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: max-content;
    background-color: green;
}

.image {
    display: flex;
    max-width: 500px;
    max-height: 280px;
}



@media screen and (max-width: 58rem ) {

    .title{
        padding: 10px 0 0 0;
        margin-left: 40px;
    }
    
    .carousel{
        /* width: 690px; */
        height: 500px;
        margin: 0px 38px 55px 38px;
    }
    
    .arrows{
        height: 500px;
        width: 40px;
    }
    
    .slideStyles{
        flex-direction: column-reverse;
    }

    .slideStylesOff{
        flex-direction: column;
    }
    
    
    .infoTitle{
        margin: 20px;
        margin-bottom: 20px;
    }
    
    .infoDesc{
        height: 60px;
        /* width: 600px; */
        margin-bottom: 50px;
    }
    
    .offLabel{
        position: absolute;
        width: max-content;
        background-color: green;
    }


}
/* 
@media screen and ( max-width: 50rem ) {

    .image{
        width: 25rem;
    }
} 

@media screen and ( max-width: 30rem ) {
        
    .image ,img {
        width: 25rem;
    }
}
 */