.carousel{
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

