.shopList-info{
    display: grid;
    grid-template-columns: repeat(2,70% 30%);
}

.shopList-btn{
    background-color: var(--WhiteColor);
    margin-right: 20px;
    margin-top: 10px;
}
.shopList-btn button{
    width: 25px;
    height: 30px;
    margin: 5px 0;
    padding: 0;
    border-radius: px;
}