*{
    margin: 0px;
    padding: 0px 0px 5px 0px;
}
.contenedor-nav{
    background-color: var(--DetailsColor);
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem calc(100vw-1000px)/2;
    z-index: 10;
}
.contenedor-btn{
    display: flex;
    gap: 1.5px;
}
.contenedor-btn button{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px black;
    padding-top: 10px;
    
}


/*MENU ITEMS*/

.menu-items{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    margin-left: 40px;
}
.menu-items li{
    list-style: none;
    font-family:'Alumni Sans', sans-serif;
    font-size: 20px;
    padding: 0 30px;
    margin-right: 80px;
}
.menu-items a{
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
}

/*LOGO*/

.logo{
    padding: 5px 0px 5px 5px;
    display: block;
    width: 120px;
    height: 80px;
    border-radius: 50%;
}

