@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,500&family=Fira+Code:wght@300&family=Montserrat:wght@500&family=Staatliches&display=swap');

/* CONTENEDOR PUBLICIDAD */
.contenedor-footer{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(var(--LightGreyColor),var(--GreyColor));
    font-family:'Alumni Sans', sans-serif;
}
.contenedor-comunidad{
    width: 100%;
    text-align: center;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}
.contenedor-comunidad img{
    width: 200px;
    height: 200px;
    margin: 15px 0px;
    
}
.publicidad-comunidad{
    padding: 25px 0px 0px 50px;
    font-size: 30px;
}

.publicidad-comunidad button{
    margin-top: 10px;
    font-family:'Alumni Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: gainsboro;
    cursor: pointer;
}

.publicidad-comunidad button:hover{
    background-color: var(--DetailsColor2);
    border-width: 2.5px;
}

/* CONTENEDOR REDES */

.contenedor-redes{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.redes-links button{
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px black;
    padding-top: 10px;
    border-color: transparent;
    cursor: pointer;
    font-size: 30px;
    margin: 0 15px;
}
.redes-texto{
    padding-top: 15px
}

@media screen and (max-width: 768px) {

/* CONTENEDOR PUBLICIDAD */
    .contenedor-footer{
       width: 100% ;
    }

    .contenedor-comunidad{
        display: flex;
        flex-direction: column;
    }

    .contenedor-comunidad img{
        width: 200px;
        height: 200px;
        margin: 5px 20px;
    }
    .publicidad-comunidad{
        padding: 0px 0px 0px 20px;
        font-size: 20px;
    }
    .publicidad-comunidad h3{
        font-size: 30px;
    }
    .publicidad-comunidad button{
        font-size: 20px;
        padding: 5px;
        
    }

    /* CONTENEDOR REDES */
    .contenedor-redes{
        display: flex;
        flex-direction: column;
    }
    .redes-links{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       padding-top: 15px 0;
       margin: 10px;
    }
    .redes-texto{
       text-align: center;
       font-size: 30px;
    }

    
}

@media screen and (max-width: 425px) {
    .contenedor-footer{
        width: 100%;
     }
     .contenedor-comunidad{
         display: flex;
         flex-direction: column;
     }
 
     .contenedor-comunidad img{
         width: 180px;
         height: 180px;
         margin: 5px 20px;
     }
     .publicidad-comunidad{
         padding: 0px 0px 0px 20px;
         font-size: 18px;
     }
     .publicidad-comunidad h3{
        padding: 0px 0px 0px 20px;
        font-size: 25px;
    }
     .publicidad-comunidad button{
         font-size: 20px;
         margin: 15px;
         padding: 10px;
         text-align: center;
     }
 
     /* CONTENEDOR REDES */
     .contenedor-redes{
         display: flex;
         flex-direction: column;
     }
     .redes-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 15px 0;
     }
     .redes-texto{
        text-align: center;
     }
 
}