:root{
    --LightGreyColor: #6c757d ;
    --GreyColor: #343a40;
    --DetailsColor: #3a86ff;
    --DetailsColor2: #38dce2;
    --Plata: #e3e4e5;
}
*{
    margin: 0px;
}
html{
    background-color: var(--GreyColor);
}