* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Alumni Sans', sans-serif
}

html {
    background-color: var(--GreyColor);
}



:root {
    --LightGreyColor: #6c757d ;
    --GreyColor: #343a40;
    --DetailsColor: #3a86ff;
    --DetailsColor2: #38dce2;
    --Plata: #e3e4e5;
    --ContainerGrayColor: #282c31;
    
}

p{
    font-family: 'Alumni Sans', sans-serif;
}

/* Agregado */

html {
    font-size: 100%;
}

p{
  font-size: 24px;
  font-size: 1.5rem;
  
}

h1 {
    font-size: 48px;
    font-size: 3rem;
}

h2 {
    font-size: 40px;
    font-size: 2.5rem;
}

h3 {
    font-size: 32px;
    font-size: 2rem;
}

@media screen and ( max-width: 65rem ) {
    html {
        font-size: 90%;
    }

}

@media screen and ( max-width: 58rem ) {
    html {
        font-size: 80%;
    }
}


@media screen and ( max-width: 40rem ) {
    
    
    img {
        width: 30rem;
    }
} 

@media screen and ( max-width: 35rem ) {
    html {
        font-size: 60%;
    }

    img {
        width: 30rem;
    }
}
